/* Grid spacings */
.main-grid { padding: 48px; }
.main-grid > * { margin: 24px; }

/* Headers */
label.header1 {
  font-weight: 900;
  font-size: xx-large;
}
label.header2 {
  font-weight: 300;
  font-size: x-large;
}
label.header3 {
  font-weight: bold;
}

/* Lists */
list {
  border: solid @borders 1px;
  border-radius: 4px;
  min-width: 480px;
}

/* Row inner spacings */
list > * { padding: 0 6px; }
list > * > box > * { margin: 6px; }
list > * > box > label:first-child { padding: 6px 12px; }
list > * > box > grid:first-child { padding: 6px 12px; }
list > * > box > image { min-width: 24px; min-height: 24px;}
list > * > box > image.app-icon { padding: 6px 0; }

/* Separators inside rows */
list > * > box > separator.horizontal { min-height: 24px; }

/* Buttons inside lists */
list button:not(:hover) {
  background: none;
  border-color: @borders;
}

/* Checkmark inside lists */
list image.checkmark {
  color: @theme_selected_bg_color;
}

/* Status labels inside lists */
list label.status-label { font-size: smaller; padding-top: 0px;}
list label.status-label.enabled { color: @theme_selected_bg_color; }
list label.status-label.disabled { color: @insensitive_fg_color; }
